@page "/support"

<div class="flex flex-col gap-5 p-5">

	<div class="flex justify-between gap-2 items-center">
		<div class="text-lg font-medium">
			Support
		</div>
	</div>

	<div class="h-px px-5 bg-gray-200 w-full"></div>

	<div>
		<div>If you experience any issues with this app, or need any help or advice, please contact the SRS Service Desk by phone or through the self-service portal.</div>

		<div class="mt-5">
			Phone: <a class="underline" href="tel:01495766300">01495 766300</a>
		</div>

		<div>
			Portal: <a class="underline" href="https://halo.onewales.com/portal">https://halo.onewales.com/portal</a>
		</div>
	</div>
</div>

@code {
}